.roulette-game {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100vh;
  background: url("./assets/background-image-3.webp");
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.roulette-info {
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(37, 49, 85, 0.6);
  border: 1px solid rgba(204, 203, 203, 0.8);
}

.roulette-info-content {
  width: 20rem;
  color: white;
}

.roulette-wheel {
  width: 480px;
  height: 480px;
  border-radius: 100%;
  background: url("./assets/roulette_1.jpg");
  background-size: 480px 480px;
  shape-outside: circle(190px);
  /* margin: 0 0 1em 1em; */
  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 85px;
  top: 215px;
  touch-action: none;
  overflow: visible;
  z-index: 10;
}

/* @media screen and (max-width: 2640px) {
  .roulette-wheel {
    margin: 1em auto;
  }
}

@media screen and (max-width: 375px) {
  body {
    padding: 0 20px;
  }
  .roulette-wheel {
    float: none;
    left: 30px;
  }
} */

.roulette-wheel .layer-2,
.roulette-wheel .layer-3,
.roulette-wheel .layer-4,
.roulette-wheel .layer-5,
.ball-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 480px 480px;
}

.roulette-wheel .layer-2,
.roulette-wheel .layer-4,
.ball-container {
  will-change: transform;
}

.roulette-wheel .layer-2 {
  background-image: url("./assets/roulette_2.png");
}

.roulette-wheel .layer-3 {
  background-image: url("./assets/roulette_3.png");
}

.roulette-wheel .layer-4 {
  background-image: url("./assets/roulette_4.png");
}

.roulette-wheel .layer-5 {
  background-image: url("./assets/roulette_5.png");
}

.roulette-wheel svg {
  position: absolute;
  top: 0;
  left: 0;
}

.roulette-wheel circle {
  cursor: pointer;
  fill: transparent;
}

.roulette-wheel .ball {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background: #fff radial-gradient(circle at 5px 5px, #fff, #444);
  box-shadow: 1px 1px 4px #000;
  transform: translateY(-116px);
  top: 30%;
  left: 49.5%;
  margin: -7px;
  will-change: transform;
}

.board {
  display: flex;
  flex-direction: row;
  border: 10px solid green;
  position: relative;
}

@media screen and (max-width: 1600px) {
  .board {
    transform: scale(.9);
  }
  .roulette-wheel {
    transform: scale(.9);
    transform: translateX(20px)
  }
  
}

@media screen and (max-width: 1400px) {
  .board {
    transform: scale(0.8);
    
  }
  .roulette-wheel {
    transform: scale(.8) translateX(110px) translateY(-25px);
    /* transform:  */
  }
  
}

@media screen and (max-width: 1200px) {
  .board {
    transform: scale(0.7);
  }
  .roulette-wheel {
    transform: scale(.7) translateX(190px) translateY(-40px);
  }
  
}

@media screen and (max-width: 1000px) {
  .board {
    transform: scale(0.6);
  }
  .roulette-wheel {
    transform: scale(.6) translateX(290px) translateY(-65px);
  }
  
}

@media screen and (max-width: 800px) {
  .board {
    transform: scale(0.5);
  }
  .roulette-wheel {
    transform: scale(.5) translateX(435px) translateY(-100px);
  }
  
}