/* Navbar.css */

.Layout {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh;
  margin: 0;
}
nav.nav {
  background-color: #2c2c2c;
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 5px solid #b8860b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}


.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: #f0e68c;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
}

.nav-links a:hover{
  color: #ffffff;
}


  main {
    flex: 1; /* Takes up remaining space */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    color: #f0e68c;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
  }

  .dropbtn:hover {
    color: #fff;
    border-radius: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2c2c;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .dropdown-content a {
    color: #f0e68c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .dropdown-content a:hover {
    background-color: #b8860b;
    color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  footer {
    background-color: gray; /* Change to your desired color */
    text-align: center; /* Center text */
    padding: 10px; /* Padding around footer */
    width: 100%; /* Full width */
  }