/* Navbar.css */

.Layout {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh;
  margin: 0;
}
.nav {
  width: 100vw;
  flex-shrink: 0;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    background-color: blue;
    align-items: center;
  }
  main {
    flex: 1; /* Takes up remaining space */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* White text color */
    padding: 16px; /* Padding */
    font-size: 16px; /* Font size */
    display: inline-block; /* Inline block display */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    padding: 16px; 
    font-size: 16px; 
    text-decoration: none; 
    display: inline-block; 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 10000; 
  }
  
  .dropdown-content a {
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* .dropdown:hover .dropbtn {
    background-color: darkgrey;
  } */
  footer {
    background-color: gray; /* Change to your desired color */
    text-align: center; /* Center text */
    padding: 10px; /* Padding around footer */
    width: 100%; /* Full width */
  }