.board-container {
  position: relative;
  width: 105rem; /* Adjust to your needs */
  height: 80vh; /* Adjust to your needs */
  background-image: url("../assets/roulette-table.png"); /* Path to your board image */
  background-size: contain; /* Ensure the image fits without stretching */
  background-position: center top; /* Adjust based on your needs */
  background-repeat: no-repeat; /* No repeat */
  /* border: 2px solid yellow;  */
}

.outer-grid {
  display: grid;
  grid-template-columns: 55px repeat(26, 26.9px) 55px; /* Zero cell + 26 columns for bets + extra column */
  grid-template-rows: auto auto; /* Top row, middle row, bottom row */
  /* gap: 1px; */
  width: 55rem; /* Calculate the width based on cell sizes */
  position: absolute; /* Position the grid absolutely within the container */
  top: 17.8rem; 
  left: 67.35%;
  transform: translateX(-50%); /* Center the grid horizontally */
  /* border: 2px solid yellow;  */
}

.top-row {
  display: grid;
  grid-template-columns: 55px repeat(26, 26.9px) 55px; /* Zero cell + 26 columns for bets + extra column */
  gap: 0px;
  grid-column: 1 / -1; /* Span all columns */
  grid-row: 1; /* First row */
  position: relative; /* Ensure positioning within the outer grid */
}

.middle-column {
  display: grid;
  grid-template-columns: repeat(26, 1.63rem); /* 26 columns */
  grid-template-rows: repeat(6, 2.1rem); /* 6 rows */
  gap: 0px;
  grid-column: 2 / span 26; /* Middle columns */
  grid-row: 2; /* Second row */
  position: relative; /* Ensure positioning within the top row */
}

.bottom-row {
  display: grid;
  grid-template-rows: 2.8rem 4.4rem; /* 2 rows: one for dozens, one for other bets */
  gap: 0px;
  left: 0.95rem;
  width: 37.85rem;
  grid-column: 2 / span 26; /* Middle columns */
  grid-row: 3; /* Third row */
  position: relative; /* Ensure positioning within the outer grid */
}

.bottom-row-top {
  display: grid;
  grid-template-columns: repeat(3, 12.98rem); /* 3 columns for top, 6 for bottom */
  gap: 0px;
}

.bottom-row-bottom {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 3 columns for top, 6 for bottom */
  gap: 0px;
}

.cell,
.bet-cell {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  background-color: transparent; /* Transparent background */
  position: relative; /* Ensure absolute positioning of chips */
  /* border: 2px solid yellow;  */
}

.zero-cell {
  grid-column: 1; /* First column */
  grid-row: 1 / span 3; /* Span three rows */
  background-color: transparent;
  width: 3.5rem;
  height: 13.3rem; /* 6 rows of 34px height + 2 gaps of 1px */
  /* border: 2px solid yellow;  */
}

.number,
.split,
.corner {
  width: 1.8rem;
  height: 2.2rem;
}

.bet-cell {
  background-color:transparent;
  text-align: center;
}

.chip {
  background-color: blue;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Absolute positioning to avoid changing cell size */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the chip */
}
