.number-history {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5rem;
  width: 8rem; 
  height: 38rem;
  background-color: rgb(37, 49, 85, 0.6);
  color: white;
}

.number-history h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.history-list {
  display: flex;
  justify-content: space-between;
}

.history-column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 34rem;
  overflow: hidden; 
}

.history-item {
  width: 30px;
  height: 30px;
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  border: 1px solid #fdfdfd;
}

.history-item.red {
  background-color: #d44;
  color: white;
}

.history-item.black {
  background-color: #444;
  color: white;

}

.history-item.blank {
  background-color: transparent;
  border: none;
}
